  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');



$font-oswald-sans-serif: 'Oswald', sans-serif;
$font-rambla: 'Rambla', sans-serif;   
$font-serif: Arial, Helvetica, sans-serif;
$font-sans-serif: sans-serif;
$font-lato: 'lato', sans-serif;
$font-shoulders: 'Big shoulders' Text;
$font-quicksand: 'Quicksand';
$tiny-font-size: 15px;
$small-font-size: 17px;
$medium-font-size: 18px;
$base-font-size: 20px;
$big-font-size:30px;
$subtitle-font-size: 32px;
$banner-font-size: 50px;
